*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: rgb(92, 92, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    background-color: #c4cdff;
    border-radius: 10px;
    box-shadow: 0 2px 5px black;
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}


.header {
    background-color: rgb(38, 0, 255);
    padding: 20px;
    color: #FFF;
}

.form {
    padding: 20px;
}

.form-control {
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;  
}

.form-control input {
    border: 2px solid #F0F0F0;
    display: block;
    border-radius: 3px;
    font-size: 14px;
    width: 100%;
    height: 35px;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form button {
    background-color: blue;
    border: 2px solid white;
    color: white;
    font-size: 14px;
    width: 100%;
    height: 30px;
    border-radius: 10px;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.success i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control.error small {
    visibility: visible;
    color: #e74c3c;
}